/* Tu CSS va aqui  */
body{
	background: linear-gradient(to right, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 0%, rgba(71,71,71,1) 17%, rgba(0,0,0,1) 39%, rgba(102,102,102,1) 66%, rgba(28,28,28,1) 76%, rgba(18,18,18,1) 80%, rgba(18,18,18,1) 80%, rgba(43,43,43,1) 92%, rgba(19,19,19,1) 100%);
}
a{
	text-decoration: none;
	display: inline-block;
}
hr{
	border: 5px solid gray;
	background-color: orange;
}
p{
	color: white;
}
.CAzule{
	background-color: #191970;
}
/*Hace la imagen gris*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}
/*Hace la imagen circular*/
/*MORPH*/
.morph {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
